/**********************************************************************************
RULE FOR ALL
**********************************************************************************/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-color: red;
    overflow: hidden;
}


:root {
    --d-primary: #1b72e8FF;
    --d-secondary: #051e34FF;
    --d-light: #f7f7f7FF;
    --d-lighter: white;
    --d-dark: black;
    --d-light2: rgb(216, 207, 207);
    --d-badge: #165bbaFF;

}



/**********************************************************************************
DEBUG
**********************************************************************************/

.debug * {
    border: 1px dashed black;
}


.debug header {
    
}

.debug #site_main {
    height: calc(100vh - 80px);
    background-color: red;
}


.debug .central_site {
    background-color: blue;
}


.debug .right_site {
    background-color: red;

}

.debug .menu_left {

   
}



/**********************************************************************************
UTILITIES
**********************************************************************************/




/**********************************************************************************
HEADER
**********************************************************************************/


#site_header {

    background-color: var(--d-light2);
}

.nav_bar {
    height: 55px;
    width: 100vw;
}


.serach_bar {
    background-color: var(--d-light);


}

.bg_nav {
    background-color: var(--d-lighter);
}

.logo_mobile {
    width: 40px;
}

/**********************************************************************************
MAIN
**********************************************************************************/







/**********************************************************************************
MENU LEFT
**********************************************************************************/


.menu_left {
    background-color: var(--d-secondary);
    overflow: hidden;
    width: 100%;
    background-image: url(../img/sidebar-bg.png);



    & img {
        object-fit: cover;
        object-position: center;
        margin-left: -1rem;
    }

}


.h_menu_l {
    height: calc(100vh - 55px);
}

.txt_menu {}

/**********************************************************************************
SITE RIGHT
**********************************************************************************/

.menu_bg {
    background-color: var(--d-primary);
    padding-left: 0px;
    width: 100%;
}


.badge_menu{
    background-color: var(--d-badge);
}

.btn_hover :hover .new_user{
    display: block;
    
}

.img_classi{
    width: 35px;
}


/**********************************************************************************
MEDIA QUERIES
**********************************************************************************/



@media screen and (min-width: 1200px) {}